<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iyl.stock.mapper.DrugMapper">
	<resultMap id="DrugInfo" type="com.iyl.stock.dto.DrugDto" >
		<result property="drugCd" column="drug_cd" />
		<result property="drugNm" column="drug_nm" />
		<result property="mainIngredientCd" column="main_ingredient_cd" />
		<result property="description" column="description" />
	</resultMap>

    <!-- 약물 정보 리스트를 리턴합니다 -->
	<select id="selectDrugInfo" resultMap="DrugInfo">
	   SELECT  *
	   FROM	   tb_drug
	</select>

</mapper>
     
   

