<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Class Name  : ScheduleMapper.xml
  Description : 스케줄 매퍼
  Modification Information

       수정일                     수정자              수정내용
    ────────────   ─────────   ───────────────────────────────
    2017. 3. 24.   남준호              최초생성

  @author 남준호
  @since 2017. 3. 24.
  @version 1.0

  Copyright (C) 2017 by MyHeart All right reserved.
-->
<mapper namespace="com.iyl.stock.mapper.ScheduleMapper">
    <sql id="selectSearchWhere">

    </sql>

    <!-- 등록된 공시 스케줄 리스트를 리턴합니다. -->
    <select id="selectList" resultType="dataMap">
        SELECT  seqno
                ,last_rcp_no
                ,title
                ,contents
                ,reg_dt
        FROM    stock_schedule
        ORDER BY seqno DESC
        LIMIT   36
    </select>

    <!-- 마지막 등록된 공시 스케줄 상세 -->
    <select id="selectLast" resultType="dataMap">
        SELECT  seqno
                ,last_rcp_no
                ,title
                ,contents
                ,reg_dt
        FROM    stock_schedule
        ORDER BY seqno DESC
        LIMIT   1
    </select>

    <!-- 스케줄 상세 -->
    <select id="select" resultType="dataMap">
        SELECT  seqno
                ,last_rcp_no
                ,title
                ,contents
                ,reg_dt
        FROM    stock_schedule
        WHERE   seqno   = #{seqno}
    </select>
    
    <!-- 스케줄 내용을 입력합니다. -->
    <insert id="insert">
        INSERT INTO stock_schedule (
            last_rcp_no
            ,title
            ,contents
        ) VALUES (
            #{lastRcpNo}
            ,#{title}
            ,#{contents}
        )
    </insert>
</mapper>